.item {
  display: flex;
  flex-direction: row;
  width: 400px;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 20px;
}
.item__detailsUser {
  display: flex;
  margin-left: 20px;
}
.item__detailsRating {
  display: flex;
  margin-left: 20px;
}
.item__detailsReview {
  display: flex;
  margin-left: 20px;
}
