.stream {
  height: 50%;
  display: grid;
  place-items: center;
}
.stream__container {
  display: flex;
}
.stream__review {
  width: 400px;
  height: 295px;
  background-color: #1f1f23;
  margin-right: 30px;
}
.stream__reviewContainer {
  margin: 25px;
  display: flex;
  flex-direction: column;
  height: 245px;
}
.stream__reviewForm {
  color: #1f1f23;
  border-radius: 8px;
  width: fit-content;
  padding: 5px 10px;
}
.stream__reviewContainerTop {
  flex: 1;
}
.stream__reviewInfo {
  display: flex;
  align-items: center;
}

.stream__status > div > div > h2 {
  font-size: 35px;
}
.stream__video {
  height: 295px;
  width: 500px;
}
.stream__videoEmbed {
  height: 295;
  width: 500;
}
